/* inline-block styles start */

.search-form__label,
.search-from__fieldset {
  display: inline-block;
  vertical-align: middle;
}

.search-form__submit-button {
  display: inline-block;
}

.more-button {
  display: inline-block;
}

.content__card-link {
  display: inline-block;
  margin: 1px;
}

/* inline-block styles end */


/* active styles start */

.search-form__textfield:active {
  border: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

/* active styles end */


/*hover styles start */

.search-form__label:hover {
  cursor: pointer;
}

.search-from__fieldset:hover {
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* hover styles end */


/* focus styles start */

.search-form__textfield:focus {
  outline: none;
}

label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* focus styles end */