/* page styles start */

.page {
  padding: 8.3125rem 1.875rem;
}

/* page styles end */


/* content styles start */

.content {
  position: relative;
  display: grid;
  grid-template-columns: 44.4375rem 24.9375rem;
  gap:1.875rem;
}

.content__details{
  display: grid;
  grid-template-rows: 13.125rem 18.625rem;
  gap: 1.625rem;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: scroll;
}

.content__list-item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content__video-card {
  display: grid;
  grid-template-columns: 12.5rem 12.125rem;
}

.content__video-card-thumbnail {
  width: 100%; 
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 1.125rem;
  line-height: 1.0125rem;
}

/* content styles end */


/* result styles start */

.result {
  display: grid;
  grid-template-rows: 30rem 3.375rem;
  align-self: end;
}

.result__video-container {  
  display: inline-block;
  position: relative;
  align-self: end;
}

.result__video-container:hover {
  cursor: pointer;
}

.result__video {
  width: 100%;
}

/* result styles end */


/* search-form styles start */

.search-form {
  display: flex;
  gap: 2.5rem;
}

/* .search-form__checkbox-list {

} */

.search-form__label {
  vertical-align: middle;
  /* padding-bottom: 2px; */
}

.search-form__fieldset {
  border: none;
}

.search-form > .search-form__fieldset, .button {
  flex: 1;
}

/* label .search-form__pseudo-checkbox {
  display: inline-block;
  width: 1.1875rem;
  height: 1.1875rem;
  vertical-align: middle;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span {
  height: 0.9375rem;
  width: 0.9375rem; 
  border: 1px solid transparent;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
} */

/* input[type='checkbox']:focus-visible + span {
  outline: 1px solid #fff;
  outline-offset: 1px;
} */

.search-form__label:active {
  outline: 1px solid red;
}

/* .more-button {
  background-color: transparent;
} */
 
/* search-form styles end */


/* content-details styles start */