/* page styles start */

.page {
  padding: 8.3125rem 1.875rem;
}

/* page styles end */


/* content styles start */

.content {
  position: relative;
  display: grid;
  grid-template-columns: 44.4375rem 24.9375rem;
  gap: 1.875rem;
}

/* content styles end */


/* result styles start */

.result {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 4.875rem 24.125rem 4.375rem;
}

.result__video-container {
  display: grid;
  grid-template-rows: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  grid-row: 2;
}

.result__video-container:hover {
  cursor: pointer;
}

.result__video {
  width: 100%;
  object-fit: cover;
  position: relative;
}

/* result styles end */


/* search-form styles start */

.search-form {
  display: grid;
  grid-template-columns: 14.0625rem 13.25rem 12.125rem;
  gap: 2.5rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  grid-row: 3;
  align-self: end;
}

.search-form__fieldset {
  border: none;
  appearance: none;
}

.search-form__label {
  margin-top: 5px;
  vertical-align: middle;
}

.search-form__checkbox-list {
  margin-top: 3px;
  vertical-align: middle;
}

.search-form__label:not(:last-child) {
  margin-right: 0.625rem;
}

.search-form__textfield {
  border: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.125rem;
  width: 14.0625rem;
  background-color: transparent;
  appearance: none;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 1.1875rem;
  height: 1.1875rem;
  vertical-align: middle;
  background-color: inherit;
  border: 1px solid #fff;
  margin-bottom: 1px;
}

.search-form__checkbox {
  position: absolute;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff;
  margin: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  border-color: #fff;
}

.search-form__submit-button {
  width: 12.125rem;
  height: 2.125rem;
  align-self: end;
  border: 1px solid #fff;
  appearance: none;
  vertical-align: middle;
}

/* search-form styles end */


/* content-details styles start */

.content__details {
  display: grid;
  grid-template-rows: 13.125rem 18.625rem;
  gap: 1.625rem;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
}

.content__list-item {
  outline: none;
}

.content__list-item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content__video-card-thumbnail {
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 1.125rem;
  line-height: 1.0125rem;
}

.content__video-card {
  display: grid;
  grid-template-columns: 12.5rem 12.125rem;
}

.more-button {
  width: 24.9375rem;
  height: 2.125rem;
}

/* content-details styles end */